<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title — Kółko i krzyżyk</title>
        <link href="Content/Site.css" rel="stylesheet" />
</head>
<body>
    <script src="/Scripts/jquery-1.6.4.js"></script>
    <script src="/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="/Scripts/game.js"></script>
    <script src="/signalr/hubs" type="text/javascript"></script>

    @RenderBody()
</body>
</html>
