

<div>
    <div id="information"></div>
    <div id="register">
        <strong>Your Name:</strong>
        <br />
        <input type="text" class="input" id="gamaName" />
        <input type="button" class="button" id="registerName" value="Play" />
    </div>
    <div id="start">
        <input type="button" class="button startGame" id="startGame" value="Start" disabled />
    </div>
    <div id="game">
    </div>
</div>

